extends _layout.pug

block content
    .color
        .color__harmonies

        .color__picker
            .color__picker__wheel
                canvas.wheel__canvas(width='400', height='400')
            .color__picker__sliders
                each index in [4, 2, 0, 1, 3]
                    .slider
                        .slider__swatch(id=`color-swatch-${index}`, data-color=index)
                        .slider__slider(id=`color-${index}`, data-color=index) 
                        input.slider__text(id=`color-hex-${index}`, data-color=index)

    +script('/js/orthogonal.color.js', 'beta')
    +script('/js/main.js')
