extends _layout.pug

block content
    +div('color-theme')
        +div('_', 'section', '-settings')
            div#color-harmonies(class=className('__', 'container', '-harmonies'))
            +div('__', 'container', '-mode')
                select#color-mode(class=className('__', 'select'))
                    option(value='hex', selected) #aabbcc
                    option(value='rgb') rgb(R, G, B)
                    option(value='hsl') hsl(H, S%, L%)
                    option(value='hsv') hsv(H, S%, V%)

        +div('__', 'section', '-color')
            div(class=className('__', 'container', '-color-wheel'))
                div#color-wheel-container(class=className('__', 'canvas-container'))
                    canvas#color-wheel(class=className('__', 'canvas'), width='400', height='400')
                    each index in [0, 1, 2, 3, 4]
                        div(class=className('__', 'handle', `-${index}`), id=`color-handle-${index}`)

            +div('__', 'container', '-swatches')
                each index in [4, 2, 0, 1, 3]
                    +div('__', 'swatch', `-${index}`)
                        input(class=className('__', 'text', '-name', `-${index}`), id=`color-name-${index}`, data-color=index)
                        div(class=className('__', 'preview', `-${index}`), id=`color-preview-${index}`, data-color=index)
                        input(class=className('__', 'text', '-color', `-${index}`), id=`color-hex-${index}`, data-color=index)
        
    +script('https://cdn.jsdelivr.net/gh/fivebyfive-se/orthogonal@latest/dist/orthogonal.color.min.js', 'beta')
    +script('/js/main.js')
